[Unit]
Description=ManageIQ Appliance Entrypoint
After=dbus.service
[Service]
Type=simple
ExecStart=/bin/appliance-entrypoint.sh
[Install]
WantedBy=multi-user.target
